<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBS Learning</title>
</head>
<body>

{{> header}}

    <p>Projects will be display here dude</p>

{{> footer}}

</body>
</html>